{% extends 'base/base.html' %}
{% block title %}Card Toggles{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_toggles.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Card Toggles</h1>
    <p class="description">Customize your dashboard by enabling or disabling specific cards.</p>
    
    {% include 'ext/message.html' %}
    
    <form method="POST" class="toggle-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="toggle-grid">
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_user_card_enabled" name="is_user_card_enabled" {% if card_settings.is_user_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">User Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_server_card_enabled" name="is_server_card_enabled" {% if card_settings.is_server_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Server Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_battery_card_enabled" name="is_battery_card_enabled" {% if card_settings.is_battery_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Battery Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_cpu_core_card_enabled" name="is_cpu_core_card_enabled" {% if card_settings.is_cpu_core_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">CPU Core Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_cpu_usage_card_enabled" name="is_cpu_usage_card_enabled" {% if card_settings.is_cpu_usage_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">CPU Usage Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_cpu_temp_card_enabled" name="is_cpu_temp_card_enabled" {% if card_settings.is_cpu_temp_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">CPU Temp Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_dashboard_memory_card_enabled" name="is_dashboard_memory_card_enabled" {% if card_settings.is_dashboard_memory_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Dashboard Memory Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_memory_usage_card_enabled" name="is_memory_usage_card_enabled" {% if card_settings.is_memory_usage_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Memory Usage Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_disk_usage_card_enabled" name="is_disk_usage_card_enabled" {% if card_settings.is_disk_usage_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Disk Usage Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_system_uptime_card_enabled" name="is_system_uptime_card_enabled" {% if card_settings.is_system_uptime_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">System Uptime Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_network_statistic_card_enabled" name="is_network_statistic_card_enabled" {% if card_settings.is_network_statistic_card_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Network Statistic Card</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_speedtest_enabled" name="is_speedtest_enabled" {% if card_settings.is_speedtest_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Speedtest Card</span>
                </label>
            </div>
        </div>
        
        <button type="submit" class="btn-submit">Save Settings</button>
    </form>
</div>
{% endblock %}