{% extends 'base/base.html' %}
{% block title %}Feature Toggles{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_toggles.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Feature Toggles</h1>
    <p class="description">Customize your dashboard by enabling or disabling specific features.</p>
    
    {% include 'ext/message.html' %}
    
    <form method="POST" class="toggle-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="toggle-grid">
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_dashboard_network_enabled" name="is_dashboard_network_enabled" {% if page_toggles_settings.is_dashboard_network_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Dashboard Network</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_cpu_info_enabled" name="is_cpu_info_enabled" {% if page_toggles_settings.is_cpu_info_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">CPU Information</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_memory_info_enabled" name="is_memory_info_enabled" {% if page_toggles_settings.is_memory_info_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Memory Information</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_disk_info_enabled" name="is_disk_info_enabled" {% if page_toggles_settings.is_disk_info_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Disk Information</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_network_info_enabled" name="is_network_info_enabled" {% if page_toggles_settings.is_network_info_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Network Information</span>
                </label>
            </div>
            
            <div class="toggle-group">
                <label class="toggle">
                    <input type="checkbox" id="is_process_info_enabled" name="is_process_info_enabled" {% if page_toggles_settings.is_process_info_enabled %}checked{% endif %}>
                    <span class="slider"></span>
                    <span class="label-text">Process Information</span>
                </label>
            </div>
        </div>
        
        <button type="submit" class="btn-submit">Save Settings</button>
    </form>
</div>
{% endblock %}