<div class="col"></div>
    <div class="row selector-container">
        <div class="time-filter-container">
            <label for="timeFilter">Select Time Filter:</label>
            <select id="timeFilter">
                <option value="1 minute">Last 1 Minute</option>
                <option value="5 minutes">Last 5 Minutes</option>
                <option value="15 minutes">Last 15 Minutes</option>
                <option value="30 minutes">Last 30 Minutes</option>
                <option value="1 hour">Last 1 Hour</option>
                <option value="3 hours">Last 3 Hours</option>
                <option value="6 hours">Last 6 Hours</option>
                <option value="12 hours">Last 12 Hours</option>
                <option value="1 day">Last 1 Day</option>
                <option value="2 days">Last 2 Days</option>
                <option value="3 days">Last 3 Days</option>
                <option value="1 week">Last 1 Week</option>
                <option value="15 days">Last 15 Days</option>
                <option value="all">All Time</option>
            </select>
        </div>
    </div>
</div>